
.App {
  text-align: center;
}

.highcharts-controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  background-color: #343a40;
  color: #fff;
  position: sticky;
  top: 50px; 
  z-index: 999;
  width: 100%;
}

.control-group {
  margin-bottom: 10px;
}

.currency-dropdown {
  min-width: 200px;
}

.date-input {
  width: 120px;
  margin-left: 10px;
}


.topbar {
  background-color: #343a40;
  position: fixed;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #4d4d4d;
  width: 100%;
  top: 0;
  z-index: 1000;
}
